services:
   app:
      build:
         context: .
         dockerfile: Dockerfile
      ports:
         - "3000:3000"
      environment:
         - NODE_ENV=production
      dns:
         - 8.8.8.8
         - 8.8.4.4
      restart: unless-stopped
